In [1]:
import pandas as pd

In [9]:
data = pd.read_html(r'https://www.365chess.com/tournaments/Paris_1900/26864')[2]
df = pd.DataFrame(data)
df

,White,Black,Result,Round,Date,Opening,View
0,"Burn, A","Brody, M",1-0,1.0,"May 17, 1900",NaN,NaN
1,"Marco, G","Janowski, D",0-1,1.0,"May 17, 1900","C67 Ruy Lopez, Berlin defence, open variation",NaN
2,"Maroczy, G","Mason, J",1-0,1.0,"May 17, 1900","D53 Queen's Gambit Declined, 4.Bg5 Be7",NaN
3,"Mortimer, J","Marshall, F",0-1,1.0,"May 17, 1900",C42 Petrov's defence,NaN
4,"Schlechter, C","Lasker, E",0-1,1.0,"May 17, 1900",C50 King's pawn game,NaN
...,...,...,...,...,...,...,...
95,"Schlechter, C","Maroczy, G",½-½,12.2,"Jun 13, 1900","C01 French, exchange variation",NaN
96,"Burn, A","Pillsbury, H",1-0,13.0,"Jun 11, 1900","D55 Queen's Gambit Declined, 6.Nf3",NaN
97,"Janowski, D","Marquez Sterling, M",1-0,13.0,"Jun 11, 1900","B45 Sicilian, Taimanov variation",NaN
98,"Lasker, E","Mortimer, J",1-0,13.0,"Jun 11, 1900",C41 Philidor's defence,NaN
99,"Marshall, F","Rosen, L",1-0,13.0,"Jun 11, 1900","C14 French, classical variation",NaN