<a href="https://colab.research.google.com/github/poporubeus/Chess_network/blob/main/Pulizia_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/chess_dfs/chess_data/chess_data_5060.csv')

In [3]:
df

,White,Black,Result,Round,Date,Opening,View,Unnamed: 0,Name,Name.1,ELO,Points,Unnamed: 7
0,"Bisguier, A","Ivkov, B",½-½,?,1950,"B59 Sicilian, Boleslavsky variation, 7.Nb3",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Byrne, R","Kostic, B",½-½,?,1950,"D09 Queen's Gambit Declined, Albin counter-gam...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Dake, A","Puc, S",½-½,?,1950,"A35 English, symmetrical variation",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Fine, R","Pirc, V",½-½,?,1950,E72 King's Indian with e4 & g3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Gligoric, S","Reshevsky, S",½-½,?,1950,"E56 Nimzo-Indian, 4.e3, main line with 7...Nc6",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37967,"Polugaevsky, L","Geller, E",0-1,19,1959,"E43 Nimzo-Indian, Fischer variation",NaN,NaN,NaN,NaN,NaN,NaN,NaN
37968,"Spassky, B","Averbakh, Y",½-½,19,1959,"C98 Ruy Lopez, closed, Chigorin, 12...Nc6",NaN,NaN,NaN,NaN,NaN,NaN,NaN
37969,"Taimanov, M","Lutikov, A",½-½,19,1959,"D45 Queen's Gambit Declined semi-Slav, 5.e3",NaN,NaN,NaN,NaN,NaN,NaN,NaN
37970,"Vasiukov, E","Krogius, N",½-½,19,1959,"C68 Ruy Lopez, exchange variation",NaN,NaN,NaN,NaN,NaN,NaN,NaN
37971,"Yukhtman, J","Keres, P",½-½,19,1959,"B31 Sicilian, Nimzovich-Rossolimo attack (with...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import os

In [5]:
def cut_dfs(dataframe):
  df = pd.read_csv(dataframe)
  new_df = pd.DataFrame(df, columns=['White', 'Black', 'Result', 'Date', 'Opening'])
  return new_df

In [6]:
dir = '/content/drive/MyDrive/chess_dfs/chess_data'
df_tot = pd.DataFrame()
to_append = []
for file in os.listdir(dir):
  path=f'{dir}/{file}'
  if path == '/content/drive/MyDrive/chess_dfs/chess_data/.ipynb_checkpoints':
    pass
  else:
    df_to_append = cut_dfs(path)
    pathdf = pd.read_csv(path)
    to_append.append(df_to_append)
    df_tot = pd.concat (to_append)

df_tot.to_csv('/content/drive/MyDrive/chess_dfs/chess_data/df_tot.csv', index=False)

<ipython-input-5-d5cbe0f73339>:2: DtypeWarning: Columns (6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataframe)
<ipython-input-6-4adb2ee04fb9>:10: DtypeWarning: Columns (6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  pathdf = pd.read_csv(path)

In [7]:
df_tot

,White,Black,Result,Date,Opening
0,"Onischuk, A","Movsesian, S",½-½,"Dec 28, 2010","E58 Nimzo-Indian, 4.e3, main line with 8...Bxc3"
1,"Caruana, F","Ivanchuk, V",½-½,"Dec 28, 2010",A81 Dutch defence
2,"Short, N","Gashimov, V",1-0,"Dec 28, 2010","B90 Sicilian, Najdorf"
3,"Vallejo Pons, F","Godena, M",1-0,"Dec 28, 2010",C51 Evans gambit declined
4,"Navara, D","Caruana, F",1-0,"Dec 29, 2010",B33 Sicilian defence
...,...,...,...,...,...
32541,"Geibel, D","Fink, L",0-1,2001,B30 Sicilian defence
32542,"Besirovic, E","Geibel, D",0-1,2001,A40 Queen's pawn
32543,"Poetsch, H","Fink, L",½-½,2001,B30 Sicilian defence
32544,"Fink, L","Besirovic, E",1-0,2001,"C02 French, advance variation"
32545,"Geibel, D","Poetsch, H",1-0,2001,"C01 French, exchange variation"

In [8]:
len(df_tot)

1047064

In [15]:
dir = '/content/drive/MyDrive/chess_dfs/chess_data'

length = 0
for file in os.listdir(dir):
  path=f'{dir}/{file}'
  if (path == '/content/drive/MyDrive/chess_dfs/chess_data/.ipynb_checkpoints' or path == '/content/drive/MyDrive/chess_dfs/chess_data/df_tot.csv'):
    pass
  else:

    df_2_count = pd.read_csv(path)
    length += len(df_2_count)
    #pathdf = pd.read_csv(path)
    #to_append.append(df_to_append)
    #df_tot = pd.concat (to_append)

#df_tot.to_csv('/content/drive/MyDrive/chess_dfs/chess_data/df_tot.csv', index=False)
length

<ipython-input-15-a6362b86dbac>:10: DtypeWarning: Columns (6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2_count = pd.read_csv(path)

1047064